* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #0a0a0a;
  color: #eaeaea;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #0f0f0f;
  position: sticky;
  top: 0;
}

nav h1 {
  color: #00ffd0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.hero h2 {
  font-size: 3.5rem;
  color: #00ffd0;
}

.hero h3 {
  font-weight: normal;
  color: #888;
}

.hero button {
  width: 200px;
  margin-top: 25px;
  padding: 14px;
  background: #00ffd0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

section {
  padding: 80px 10%;
}

.dark {
  background: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #151515;
  padding: 25px;
  border-radius: 10px;
}

.reward-list {
  list-style: none;
  margin-top: 20px;
}

.reward-list li {
  margin: 10px 0;
  color: #ccc;
}

.stats {
  display: flex;
  justify-content: space-around;
  background: #0f0f0f;
  padding: 50px 10%;
}

.stats h3 {
  color: #00ffd0;
  font-size: 2rem;
}

details {
  margin: 15px 0;
  background: #151515;
  padding: 15px;
  border-radius: 6px;
}

.download {
  text-align: center;
}

footer {
  background: #0f0f0f;
  text-align: center;
  padding: 25px;
  color: #666;
}

.btn-download{
    display: inline-block;
    padding: 14px 28px;
    background: linear-gradient(135deg, #00ffcc, #0066ff);
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    border-radius: 50px;
    box-shadow: 0 0 15px rgba(0,255,204,0.6);
    transition: 0.3s ease;
    text-align: center;
}

.btn-download:hover{
    transform: scale(1.08);
    box-shadow: 0 0 25px rgba(0,255,204,0.9);
}
