* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, Arial, sans-serif;
}

body {
  background: #0a0a0a;
  color: #eaeaea;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 10%;
  background: #0f0f0f;
  position: sticky;
  top: 0;
}

nav h1 {
  color: #00ffd0;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: #aaa;
}

.hero {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}

.hero h2 {
  font-size: 3.5rem;
  color: #00ffd0;
}

.hero h3 {
  font-weight: normal;
  color: #888;
}

.hero button {
  width: 200px;
  margin-top: 25px;
  padding: 14px;
  background: #00ffd0;
  border: none;
  border-radius: 6px;
  font-weight: bold;
}

section {
  padding: 80px 10%;
}

.dark {
  background: #111;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.card {
  background: #151515;
  padding: 25px;
  border-radius: 10px;
}

.reward-list {
  list-style: none;
  margin-top: 20px;
}

.reward-list li {
  margin: 10px 0;
  color: #ccc;
}

.stats {
  display: flex;
  justify-content: space-around;
  background: #0f0f0f;
  padding: 50px 10%;
}

.stats h3 {
  color: #00ffd0;
  font-size: 2rem;
}

details {
  margin: 15px 0;
  background: #151515;
  padding: 15px;
  border-radius: 6px;
}

.download {
  text-align: center;
}

footer {
  background: #0f0f0f;
  text-align: center;
  padding: 25px;
  color: #666;
}

.btn-rewix{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 16px 34px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    background: linear-gradient(135deg, #6a00ff, #00d4ff);
    border-radius: 60px;
    text-decoration: none;
    box-shadow: 0 0 20px rgba(0,212,255,0.6);
    transition: 0.4s ease;
    position: relative;
    overflow: hidden;
}

.btn-rewix::before{
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    background: linear-gradient(120deg, transparent, rgba(255,255,255,0.5), transparent);
    top:0;
    left:-100%;
    transition:0.5s;
}

.btn-rewix:hover::before{
    left:100%;
}

.btn-rewix:hover{
    transform: scale(1.12);
    box-shadow: 0 0 35px rgba(0,212,255,1);
}